:root {
  --mainColor: #0557AD;
  --2ndColor: #ED221C;
  --bgfooterColor: #282828;
  --fontColor: #333333;
  --yellowColor: #DEAA4E;
  --admainColor: #263A71;
  --adtxtColor: #7B8DB4;
  --adminbgColor: #F2F7FF;
}