.myImg {
  margin-left: 50px;
  width: 46px;
  height: 46px;
}

.l-title {
  font-size: 12px;
}

.btn {
  width: 50px;
  height: 41px;
  border-radius: 30px;
  text-align: center;
  text-decoration:none;
}

.log {
  background-color: #0557AD;
  color: white;
  width: fit-content;
  margin-left: 5px;
  cursor: pointer;
}

.log:hover {
  background-color: rgb(5, 87, 173, .9);
}

.navbar {
  background-color: #0557AD;
}

.nav-link {
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 3%;
  text-decoration: none;
}

